body {
  background-color: white;
}

h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: xx-large;
  color: wheat;
}

.jumbotron {
  background-color: rgb(38, 7, 139);
}

#response {
  font-size: x-large;
  padding: 40px;
  font-style: italic;
  color: rgb(27, 2, 126);
  
}

#marsresponse {
  font-size: x-large;
  padding: 40px;
  font-style: italic;
  color: rgb(215, 27, 10);

}

.btn {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: 45px;
}

.form-control {
  padding: 5px;
}